<section>
  <h2>Problems</h2>
  <p><a href="/<%= @contest.name %>/problems">Problems</a></p>
</section>

<section>
  <h2>Submission</h2>
  <p><a href="/<%= @contest.name %>/workplace">Workplace</a></p>
</section>
